extend generalLayout.pug
block head
    link(
        rel="stylesheet"
        href="/css/layout.css"
    )

block body
    body.staffBody.grid-general
        include includes/navBar
    block main
        main
            a.button(href='newTruck') Add New Truck
            a#goBack.button.shadow(href='#') Back
            section#staffNavBar

            
                table.whitebg
                    thead
                        tr
                            th S/N
                            th Full Name
                            th Sex
                            th Date of Birth
                            th Phone Number
                            th Job Title
                            th Salary
                            th Allowance
                            th Past Incident
                            th Update
                            th Delete
                    tbody.serialAnchor
                    
                        if staffs.length
                        each staff in staffs
                                tr
                                    td.serialNum
                                    td #{staff.fullName = `${staff.firstName} ${staff.lastName}`} 
                                    td #{staff.gender}
                                    td #{staff.dateOfBirth}
                                    td #{staff.phoneNumber=`0${staff.phoneNumber}`}
                                    td #{staff.jobTitle}
                                    td #{staff.salary}
                                    td #{staff.allowanceAmount}
                                    td #{staff.pastIncident}
                                    td.action 
                                        a(href='./staff/' +staff._id)
                                            img#update(src='/images/edit.png' alt='Update')

                                    td.action 
                                        a(href='/deleteStaff/' +staff._id)
                                            img#delete(src='/images/delete.png' alt='Delete')
        block js
            script(src='javascript/general.js')
            script(src='javascript/allStaff.js')
        
        include includes/footer
        
                    
        
    