extend generalLayOut.pug
block head
    link(
        rel="stylesheet"
        href="/css/layout.css"
    )
    link(
        rel='stylesheet'
        href="css/allTrucks.css"
    )
block body
    body.truckBody.grid-general
        include includes/navBar
        block main
            main
                a.button(href='newTruck') Add New Truck
                a#goBack.button.shadow(href='#') Back
                section#staffNavBar
                    table.whitebg
                        thead
                            tr  
                                th S/N
                                th Type of Truck
                                th Truck Number
                                th Truck Driver
                                th Truck Code
                                th Truck Performance
                                th Update
                                th Delete
                        tbody.serialAnchor
                            block content
                            if trucks.length
                            each truck in trucks
                                tr
                                    td.serialNum
                                    td #{truck.typeOfTruck} 
                                    td #{truck.truckNumber}
                                    td #{truck.nameOfDriver}
                                    td #{truck.truckCode}
                                    td #{truck.amountMadeByTruck}
                                    td.action 
                                        a(href='./truck/' +truck._id)
                                            img#update(src='/images/edit.png' alt='Update')
                                    td.action 
                                        a(href='./delTruck/' +truck._id)
                                            img#delete(src='/images/delete.png' alt='Delete')

                block content
                
                            
                
        block js
            script(src='javascript/general.js')
            script(src='javascript/allStaff.js')
           
        include includes/footer
        

