//- Shows a list of call orders recieved for sewage drainage.
extend generalLayOut.pug
block head
    link(
        rel="stylesheet"
        href="/css/layout.css"
    )
    link(
        rel='stylesheet'
        href="css/allTrucks.css"
    )
block body
    body.requestBody.grid-general.lightbg
        include includes/navBar
        block main
            main
                a.button(href='newRequest') Add New Request
                a#goBack.button.shadow(href='#') Back
                section#staffNavBar
                    table
                        thead
                            tr  
                                th S/N
                                th Date
                                th Time
                                th Name
                                th Location
                                th Phone Number 
                                th Number of Trucks 
                                th Date of Service
                                th Time of Service
                                th Update
                                th Delete
                        tbody
                            block content
                            if requests.length
                            each request in requests
                                tr
                                    td.serialNum
                                    td #{request.dateOfRequest} 
                                    td #{request.timeOfRequest}
                                    td #{request.custName}
                                    td #{request.address}
                                    td #{request.phoneNumber}
                                    td #{request.numTrucks}   
                                    td #{request.dateOfService}
                                    td #{request.timeOfService}
                                    td.action
                                        a(href='./callRequestDetails/' +request._id)
                                            img#update(src='/images/edit.png' alt='Update')
                                    td.action 
                                        a(href='./callRequestDel/' +request._id)
                                            img#delete(src='/images/delete.png' alt='Delete')


                block content
                
                            
                
        block js
            script(src='javascript/general.js')
            
    
        include includes/footer