doctype html
html(lang = 'en')
    head
        title=title
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")

        // css for all pages.
        link(rel='stylesheet' href='/css/general.css')

        // CSS for only index.pug
        link(rel='stylesheet' href='/css/index.css')

        // Font links
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(
                href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
            rel="stylesheet"
        )
        link(
                href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
            rel="stylesheet"
        )
    body
        header.grid-general.darkbg.shadow
            // logo
            p#logo.lobster-text
                span#comp-name Stay Clean
                span#truck
        main.grid-general.shadow.whitebg
            h3 Waste disposal for all time freshness.
            form.whitebg(action="/" method="POST")

                Label.userName(for='userName') User Name:
                input#userName(
                        type='text'
                        name='username'
                        )
                Label.password(for='password') Password:
                input#password(
                        type='password'
                        name='password'
                    )
                button#login-btn.spaceMargin.shadow(type="submit") Sign In