extend generalLayout.pug
block head
    link(rel='stylesheet' href='/css/newRequest.css')
block body
    body.requestBody.grid-general
        include includes/navBar
        block main
            main.flex-column-general.lightbg.shadow
                h3#newReqTitle.shadow.lightbg Request Information

                form#newReq(action='/newRequest' method="POST")
                    label.custName(for='custName') Full Name
                    input#custName(type='text' name='customerName')
                    
                    label.address(for='address') Location
                    textarea#address(name='placeOfResidence' )
                    
                    label.phoneNumber(for='phoneNumber') Phone Number
                    input#phoneNumber(type='tel' name='phoneNumber' )
                    
                    label.numTrucks(for='numTrucks') Number of Trucks:
                    select#numTrucks(type='text' name='numTrucks')
                        option(value='1') 1 truck
                        option(value='2') 2 trucks
                        option(value='3') 3 trucks
                        option(value='4') 4 trucks
                        option(value='5') 5 trucks

                    label.assignTruck Assign Truck:
                    select#assignTruck(name='assignTruck')
                        option Choose Truck
                        if trucks.length
                        each truck in trucks
                            option(value=`${truck.truckNumber} Driver: ${truck.nameOfDriver}`) #{`${truck.truckNumber} - ${truck.nameOfDriver}`}

                    label.dateOfService(for='dateOfService') Date of Service:
                    input#dateOfService(type='date' name='dateOfService')

                    label.timeOfService(for='timeOfService') Time of Service:
                    input#timeOfService(type='time' name='timeOfService')

                    input#date(type='text' name='dateOfRequest' value='myDate')
                    input#time(type='text' name='timeOfRequest' value='myTime')

                    button#register(type='submit') Register Request
                    a#goBack.button.shadow(href='#') Back
            

            block js
                script(src='javascript/general.js')
                //- script(src='javascript/newRequest.js')
        include includes/footer