extend generalLayout.pug
block head
    link(rel='stylesheet' href='/css/newSubscription.css')
block body
    body.subscriptionBody.grid-general
        include includes/navBar
        block main
            main
                form#subReg.shadow.whitebg(action='/NewSubscription' method="POST")
                    h3#custInfoH.shadow.lightbg Customer Information
                    section#custInfo.lightbg.shadow
                    
                        label.fName(for='fName') Full Name
                        input#fName(
                                type='text'
                                name='customerName'
                            )
                        label.email(for='email') Email
                        input#email(
                                type='email'
                                name='email'
                            )
                        label.phone(for='phoneNumber') Phone Number
                        input#phone(
                                type='tel'
                                name='phoneNumber'
                            )
                        label.nationalIdNumber(for ='nationalIdNumber') National ID Number
                        input#nationalIdNumber(
                                type='text'
                                name='nationalIdNumber'
                            ) 
                        label.residence(for='residence') Place of Residence
                        textarea#residence(
                                type='text'
                                name='placeOfResidence'
                            )

                    h3#reqInfoH.shadow.lightbg Request Information       
                    section#reqInfo.grid-general.lightbg.shadow
                        label.service Service Requested:
                        select#service(name="serviceRequested")
                            option(value='') Choose Service
                            option(
                            value="Both Services"  
                            ) Both Services

                            option(
                            value="Garbage Collection"   
                            ) Garbage Collection 

                            option(
                            value="Sewage Collection"  
                            ) Sewage Collection 
                        label.subPeriod Subscription Period :
                        select#subPeriod(name="subPeriod")
                            option(value='') Choose Sub Period
                            option(
                            value="6-Months"  
                            ) 6 Months
                            option(
                            value="5-Months"  
                            ) 5 Months
                            option(
                            value="4-Months"  
                            ) 4 Months
                            option(
                            value="3-Months"  
                            ) 3 Months
                            option(
                            value="2-Months"  
                            ) 2 Months
                            option(
                            value="1-Month"  
                            ) 1 Month
                            option(
                            value="oneTime"  
                            ) One Time

                    
                        label.serviceTime(for='timeOfService') Time of Service:
                        input#serviceTime(type='time' name='timeOfService')

                        label.dateOfService(for='dateOfService') TIme of Service:
                        input#dateOfService(type='date' name='dateOfService')
                        

                        label.numTrucks Number of Trucks:
                        select#numTrucks(name="numTrucks")
                            option(
                            value=0  
                            ) 0  
                            option(
                            value=1  
                            ) 1 Truck
                            option(
                            value=2  
                            ) 2 Trucks
                            option(
                            value=3  
                            ) 3 Trucks
                            option(
                            value=4  
                            ) 4 Trucks
                            option(
                            value=5  
                            ) 5 Trucks
                                
                        label.assignTruck Assign Truck:
                        select#assignTruck(name='assignTruck')
                            option Choose Truck
                            if trucks.length
                            each truck in trucks
                                option(value=`${truck.truckNumber} Driver: ${truck.nameOfDriver}`) #{`${truck.truckNumber} - ${truck.nameOfDriver}`}

                        input#date(type='text' name='dateOfRequest' value='myDate')
                        input#time(type='text' name='timeOfRequest' value='myTime')


                    button#register(type='submit') Subscribe
                    a#goBack.button.shadow(href='#') Back
            

            block js
            script(src='javascript/general.js')
        include includes/footer
        