extend generalLayOut.pug
block head
    link(
        rel='stylesheet' href='/css/newTruck.css'
    )
block body
    body.truckBody.grid-general
        include includes/navBar
        block main
            main
                section#newTruckSection.whitebg.shadow
                    h2.shadow Truck Registration
                    form#truckInfo(action='/newTruck' method='POST')
                        label.typeOfTruck(for='typeOfTruck') Type of Truck:
                        select#typeOfTruck(name='typeOfTruck')
                            option(value='Sewage Truck') Sewage Truck
                            option(value='Garbage Truck') Garbage Truck

                        label.truckNumber(for='truckNumber') Truck Registration Number:
                        input#truckNumber(name='truckNumber' placeholder='Number Plate')

                        label.truckCode(for='truckCode') Truck Code:
                        input#truckCode(name='truckCode')

                        a#generate(href='#') Generate

                        label.driver(for='driver') Assign Driver:
                        select#driver(name='nameOfDriver')
                            option Choose Driver
                            if staff.length
                            each driver in staff
                                option(value =`${driver.lastName} ${driver.firstName}`) #{`${driver.lastName} ${driver.firstName}`}
        

                        a#goBack.button.shadow(href='#') Cancel
                        button#register(type='submit') Register

            block js
                script(src='javascript/general.js')
        include includes/footer
