extend generalLayOut
block head
    // CSS for only signUp.pug
    link(rel='stylesheet' href='/css/signUp.css')
block body
    body.staffBody.grid-general.lightbg
        include includes/navBar
        block main
            main

                form#signUp.shadow(action="/signUp" method="POST")

                    fieldset.user-name.spaceMargin.transform
                        legend.transform User Name
                        input#user-name(
                            type='text'
                            name='username'
                            placeholder = 'User Name'
                            )
                    fieldset.password.spaceMargin.transform
                        legend.transform Password
                        input#password(
                            type='password'
                            name='password'
                            placeholder='Password'
                        )
                    fieldset.confirm-password.spaceMargin.transform
                        legend.transform Confirm Password
                        input#confirm-password(
                            type='password'
                            name='confirm-password'
                            placeholder='Confirm Password'
                        )
                    button#login-btn.spaceMargin.shadow(type="submit") Sign Up
                    a#goBack.button.shadow(href='#') Back
        block js
            script(src='javascript/general.js')
        include includes/footer