extend generalLayOut
block head
    // CSS for only signUp.pug
    link(rel='stylesheet' href='/css/signUp.css')
block body
    body.staffBody.grid-general
        include includes/navBar
        block main
            main.flex-general-column
                h3#signUpH.shadow.lightbg Create Account for New Employee
                form#signUp.shadow.lightbg(action="/signUp" method="POST")

                    label.userName(for='userName') User Name:
                    input#userName(
                            type='text'
                            name='username'
                           
                            )
                    label.password(for='password') Password:
                    input#password(
                            type='password'
                            name='password'
                          
                        )
                    label.confirmPassword(for='confirmPassword') Confirm Password:
                    input#confirmPassword(
                            type='password'
                            name='confirm-password'
                          
                        )
                    label.role(for='role') Role:
                    select#role(name='role')
                        option(value='') Choose Role
                        if admins.length
                        each admin in admins
                            option(value=`${admin.jobTitle}`) Administrator
                        if deskOfficers.length
                        each deskOfficer in deskOfficers
                            option(value=`${deskOfficer.jobTitle}`) Desk Officer

                    button#login-btn.spaceMargin.shadow(type="submit") Sign Up
                    a#goBack.button.shadow(href='#') Back
        block js
            script(src='javascript/general.js')
        include includes/footer