extend generalLayout.pug
block head
    link(
        rel="stylesheet"
        href="/css/staffLayout.css"
    )
block main
    section#staffNavBar
        ul
            li
                a(href="/allStaff") All Staff
            li
                a(href="/allStaff/drivers") Truck Drivers
            li
                a(href="/allStaff/conductors") Conductors
            li
                a(href="/allStaff/deskOfficers") Desk Officers
            li
                a#last(href="/allStaff/administrators") Administrators
        table
            thead
                tr
                    th Full Name
                    th Sex
                    th Date of Birth
                    th Phone Number
                    th Job Title
                    th Salary
                    th Allowance
                    th Past Incident
            tbody
                block content
                if employees.length
                each employee in employees
                    tr
                        td #{employee.fullName = `${employee.firstName} ${employee.lastName}`} 
                        td #{employee.gender}
                        td #{employee.dateOfBirth}
                        td #{employee.phoneNumber=`0${employee.phoneNumber}`}
                        td#job #{employee.jobTitle}
                        td #{employee.salary}
                        td #{employee.allowanceAmount}
                        td #{employee.pastIncident}
    block content
        
                    
        
block js