extend generalLayout.pug
block head
    
    link(rel='stylesheet' href='/css/registration.css')
block main
    // ACCOUNT REGISTRATION – FORM
    form.grid-general.shadow-grey( action="/createEmployee" method="POST" )
        h2 Employee information
        
        // Job-title
        section.group1.flex-general-column
            fieldset
                legend Job Title
                select#position ( name='jobTitle')
                    option(value='') Choose Job Title
                    option(value='front-desk-officer') Front Desk Officer
                    option(value='system-admin') System Admin 
                    option(value='finance-officer') Finance Officer
                    option(value='truck-driver') Truck Driver
                    option(value='truck-conductor') Truck Conductor

                // Full name
            fieldset
                legend Full Name
                input#full-name(
                    type="text"
                    name="name"
                    placeholder="Full Name"
                    )

                // Date of birth
            fieldset
                legend Date of Birth
                input#dob.roboto-text(
                    type='date'
                    name='dateOfBirth'
                )
                
            // Gender
            fieldset#gender.grid-general
                legend Gender
                input(
                    type='radio' 
                    id='gender-male'
                    name='gender'
                    value='male'
                )
                label.gender-male(for='gender-male') Male
                input(
                    type='radio' 
                    id='gender-female'
                    name='gender'
                    value='female'
                )
                label.gender-female(for='gender-female') Female
            // National ID Number
            fieldset
                legend Natioanl Id Number
                input#nin(
                    type='text'
                    name='nationalIdNumber'
                    placeholder='National ID Number'
                )
            
        section.group2.flex-general-column
            // Driving License
            fieldset
                legend Driver's License Number
                input#driv-lis(
                    type='text'
                    name='driversLisenceNumber'
                    placeholder='Driver\'s License Number'
                )

            // Place of residence
            fieldset
                legend Place of Residence
                textarea#residence.roboto-text(placeholder='Place of Residence' name='placeOfResidence')

            // phone number
            fieldset
                legend Phone Number
                input#contact(
                    type='phone'
                    name='phoneNumber'
                    placeholder='Phone Number'
                )
            
            // Past incidence
            fieldset
                legend Past Incident
                select#past-incidence (name='pastIncident')
                    option(placeholder='') Past incident
                    option(value='none') None
                    option(value='accident') Accident
                    option(value='fight') Fight
                    option(value='fuel-theft') Fuel theft
                    option(value='others') Others
        button#register(type='submit') Register
        a#cancel-reg(href="/welcome") Cancel
block js
    script(src='http://localhost:3000/javascript/registration.js')

    // Truck drivers   contact info, past incidence(accidents, fights, fuel thefts etc)


    // Truck conductorsName, date of birth, NIN, residence, contact info.
    // Front desk users Name, date of birth, NIN, residence, contact info.
    // system admin Name, date of birth, NIN, residence, contact info.
    // REGISTER and CANCEL button.
