extend generalLayout.pug
block head
    
    
    link(rel='stylesheet' href='/css/newStaff.css')
    link(rel='stylesheet' href='/css/staff.css')
block body
    body.staffBody.grid-general
        include includes/navBar
        block main
            main
                // EMPLOYEE UPDATE – FORM
                form#regNewStaff.shadow.whitebg( method="POST" action="/staff/"+staff._id)
                    h2#perInfoH.shadow.lightbg Personal Information
                    section#personalInfo.lightbg
                    
                        // First name
                        label.firtName(for='firstName') First Name:
                        input#firstName(
                            type="text"
                            name="firstName"
                            value= staff.firstName

                            )
                        // Last Name
                        label.lastName(for='lastName') Last Name
                        input#lastName(
                            type="text"
                            name="lastName"
                            value= staff.lastName
                            )

                        // Date of birth
                        label.dob(for='dob') Date of Birth
                        input#dob.roboto-text(
                            type='date'
                            name='dateOfBirth'
                            value= staff.dateOfBirth
                        )
                        
                        // Gender
                        label.gender(for='gender') Gender:
                        select#gender(name='gender')
                            option(value='Male' selected=staff.gender==='Male') Male
                            option(value='Female' selected=staff.gender==='Female') Female
                        
                        // National ID Number
                        label.nin(for='nin') Natioanl Id Number
                        input#nin(
                                type='text'
                                name='nationalIdNumber'
                                value=staff.nationalIdNumber
                            )

                        // phone number
                        label.contact(for='contact') Phone Number
                        input#contact(
                            type='phone'
                            name='phoneNumber'
                            value=staff.phoneNumber
                        )

                        // Place of residence
                        label.residence(for='residence') Place of Residence
                        textarea#residence.roboto-text(placeholder='Place of Residence' name='placeOfResidence' value=staff.placeOfResidence )
                        
                    h2#empInfoH.shadow.lightbg Employement Information
                    section#empInfo.shadow.lightbg
                        // Job title
                    
                        label.jobTitle(for="jobTitle") Job Title:
                        select#jobTitle(name='jobTitle')
                            option(value='') Choose Job Title

                            option(value='front-desk-officer' selected = staff.jobTitle === "front-desk-officer") Front Desk Officer

                            option(value='system-admin' selected = staff.jobTitle === "system-admin") System Admin 

                            option(value='finance-officer' selected = staff.jobTitle === "finance-officer") Finance Officer

                            option(value='truck-driver' selected = staff.jobTitle === "truck-driver") Truck Driver

                            option(value='truck-conductor' selected = staff.jobTitle === "truck-conductor") Truck Conductor

                            // Driving License
                            label.drivLis(for='drivLis') Driver's License Number:
                            input#drivLis(
                                type='text'
                                name='driversLisenceNumber'
                                placeholder='Driver\'s License Number'
                                value=staff.driversLisenceNumber
                            )
                        // Salary Amount
                        label.salary Salary:
                        input#salary(type='text' name='salary' value=staff.salary) 

                        // Type of Allowance
                        label.typeOfAllowance(for='typeOfAllowance') Type of Allowance:
                        
                        select#typeOfAllowance( name='typeOfAllowance')
                            option(value='none' selected = staff.typeOfAllowance === "none") None

                            option(value='daily-allowance' selected = staff.typeOfAllowance === "daily-allowance") Daily Allowance

                            option(value='every-two-days' selected = staff.typeOfAllowance === "every-two-days") Every 2 days. 

                        // Allowance Amount
                        label.allowanceAmount(for='allowanceAmount') Allowance Amount:
                        input#allowanceAmount(type='text' name='allowanceAmount' value=staff.allowanceAmount)
                    
                        // Past incidence
                        label.pastIncidence(for="pastIncidence") Past Incident
                        select#pastIncidence(name='pastIncident')
                        
                            option(value='none' selected = staff.pastIncident === "none") None

                            option(value='accident' selected = staff.pastIncident === "accident") Accident

                            option(value='fight' selected = staff.pastIncident === "fight") Fight

                            option(value='fuel-theft' selected = staff.pastIncident === "fuel-theft") Fuel theft

                            option(value='others' selected = staff.pastIncident === "others") Others

                    button#register(type='submit') Update
                    a#cancel-Reg.shadow.button(href='/allStaff') Cancel
            block js
                script(src='javascript/general.js')
                script(src='/javascript/registration.js')

            include includes/footer


