extend generalLayOut.pug
block head
    link(
        rel='stylesheet' href='/css/newTruck.css'
    )
block body
    body.truckBody.grid-general
        include includes/navBar
        block main
            main
    
                section#newTruckSection.whitebg.shadow
            
                    h2.shadow.lightbg Truck Registration Number #{truck.truckNumber} Details
                
                    form#truckInfo(method="POST" action='/truck/' +truck._id)
                        label.typeOfTruck(for='typeOfTruck') Type of Truck:
                        select#typeOfTruck(name='typeOfTruck')
                            option(value='sewageTruck' selected = truck.typeOfTruck === "sewageTruck") Sewage Truck
                            option(value='garbageTruck' selected = truck.typeOfTruck === "garbageTruck") Garbage Truck

                        label.truckNumber(for='truckNumber') Truck Registration Number:
                        input#truckNumber(name='truckNumber' value= truck.truckNumber)

                        label.truckCode(for='truckCode') Truck Code:
                        input#truckCode(name='truckCode' value= truck.truckCode)

                        a#generate(href='#') Generate

                        label.driver(for='driver') Re-Assign Driver:
                        select#driver(name='nameOfDriver') #{`${truck.typeOfTruck}`}
                            option Choose Driver 
                            if cars.length
                            each car in cars
                                option(value=`${car.nameOfDriver}`  selected = `${car.nameOfDriver}` ===`${car.nameOfDriver}`) #{`${car.nameOfDriver}`}
            

                        a#goBack.button.shadow(href='#') Cancel
                        button#register(type='submit') Update

            block js
                script(src='javascript/general.js')
            include includes/footer
